{{#extends 'base'}}

{{#block "title"}}
Welcome
{{/block}}

{{#block "content"}}
   <h1>Ideas become reality here</h1>
{{/block}}

{{#block "footer"}}
   <div class='alert alert-success'>Call us for more information</div>
{{/block}}

{{/extends}}